p#notice = notice

p
  strong Ф.И.О. опрашиваемого:&nbsp;
  = @questionnaire.first_name + ' ' + @questionnaire.last_name + ' ' + @questionnaire.patronymic
p
  strong Школа:&nbsp;
  = @questionnaire.school + ', ' + @questionnaire.school_district
p
  strong Класс:&nbsp;
  = @questionnaire.classroom
p
  strong Телефон:&nbsp;
  = @questionnaire.phone
p
  strong E-mail:&nbsp;
  = @questionnaire.email

h2 Результаты тестирования:
p
  h4 Вопрос №1. Типы профессий (сферы):
  = "#{@questionnaire.profession_type.name} - #{@questionnaire.profession_type.description}"
p
  h4 Вопрос №2. Осознанность выбора профессии
  = 'Выбор профессии совершается ' + @questionnaire.question2
p
  h4 Вопрос №3. Тип мышления
  - @questionnaire.question3.type_of_thinking.each do |current_type|
    p
      b = current_type.name
      = ' ' + current_type.description

/p
/  h4 Вопрос №4. Подтипы
/  - leading_subtype = @questionnaire.question4.subtype(@questionnaire.question4.answer1)
/  - actual_subtype = @questionnaire.question4.subtype(@questionnaire.question4.answer2)
/  - potential_subtype = @questionnaire.question4.subtype(@questionnaire.question4.answer3)
/
/  .field
/    b Ведущий подтип -&nbsp;
/    = leading_subtype.title
/    p
/      = leading_subtype.status
/    p
/      = leading_subtype.description
/    p
/      b Наиболее подходящие деятельности:&nbsp;
/      = leading_subtype.suitable_job
/  .field
/    b Актуальный подтип -&nbsp;
/    = actual_subtype.title
/    p
/      = actual_subtype.status
/    p
/      = actual_subtype.description
/    p
/      b Наиболее подходящие деятельности:&nbsp;
/      = actual_subtype.suitable_job
/  .field
/    b Потенциальный подтип -&nbsp;
/    = potential_subtype.title
/    p
/      = potential_subtype.status
/    p
/      = potential_subtype.description
/    p
/      b Наиболее подходящие деятельности:&nbsp;
/      = potential_subtype.suitable_job
/

= link_to 'Edit', edit_questionnaire_nine_path(@questionnaire)
'|
= link_to 'Back', questionnaire_nines_path
